body {
    width: 1000px;
    margin: 0 auto;
}

#top {
    display: flex;
    align-items: center;
}

#article, #article h1 {
    font-family: 'Crimson Text', serif;
}

#article {
    overflow-y: scroll;
}

nav {
    padding: 16px;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}